<div class="row">
<div class="col-md-12">
  <div class="container-fluid timeline-container">
    <div class="timeline">
    <% if @activities.size == 0 %>
      <div align="center" class="text-muted"><small>No activity in this feed.</small></div>
      <% else %>
      <div id="activities-container" class="">
          <%= render partial: 'activity', collection: @activities, cached: true %>
      </div>
      <% end %>
    </div>      
    <div><%= paginate @activities , :remote => true %></div>
     <div class="row-spacer-xl"></div>
  </div>
</div>
</div>