  <div class="row">
      <div class="col-sm-3">
      <div style="width:100%;" align="center">
      <div class="index-logo">
<%= image_tag("Gov.Pan.logo.png", size: "120x120")  %> 
    </div>
      </div>
  
    </div>
    <div class="col-sm-9">
    
     <h1 class="page-header">Pan-Gov</h1>
       An open source platform for implementing direct democracy.
    </div>

</div>