<% breadcrumb :motionsdata %>
<div class="row">
<div class="col-lg-6">
	<%#= render(:partial => "/motions/data/petitions_count") %>
</div>
<div class="col-lg-6">
	<%#= render(:partial => "/motions/data/petitions_support_spread") %>
</div>
</div>

