<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<%= link_to "Back", request.referer.present? ? request.referer : root_path %>
