<%# app/views/petitions/_list.html.erb %>
<% @petitions.each do |petition| %>
  <%= render petition %>
  <div class="row-spacer"></div>
<% end %>

<div class="row">
 <!-- /col-lg-6 -->
  <div class="col-lg-12">
    <%= paginate @petitions, :remote => true %>
  </div>
 </div>