<% @req_votes = petition.required_votes %>
<% @support = petition.support_percent %>
<div class="petition-supporter-bar"><span id="bar-<%= petition.id %>"><%= @support %></span></div>
<div align="centre">
</div>
<script>
var opt = {
 numMin:0,
 numMax:100,
 horBarHeight:30,
 colorRange:true,
 colorRangeLimits: {
  critical: '0-20',
  newRangeOne: '21-40-rgb(241,144,40)',
  newRangeTwo: '41-60-green',
  newRangeThree: '61-90-#4aa64f',
  optimal: '91-100'
 },
 milestones: {
  1: {
   mlPos: 30,
   mlId: false,
   mlClass: 'bi-custom',
   mlDim: '140%',
   mlLabel: '30%',
   mlLabelVis: 'hover',
   mlHoverRange: 15,
   mlLineWidth: 1
  },
  2: {
   mlPos: 70,
   mlId: false,
   mlClass: 'bi-custom',
   mlDim: '140%',
   mlLabel: '70%',
   mlLabelVis: 'hover',
   mlHoverRange: 15,
   mlLineWidth: 1
  }
 }

};
 $('#bar-<%= petition.id %>').barIndicator(opt);
</script> 