<div class="row row-listitem">
    <div class="col-sm-12 listitem-title-box">
       <div class="listitem-title">
       <i class="fa fa-file-text-o fa-fw"></i>
          <strong>
           <%= link_to draft.name, draft %>
           </strong>
       </div>
    </div>
  </div>