  <div class="row row-listitem">
    <div class="col-sm-8 listitem-title-box">
       <div class="listitem-title">
          <span>
            <%=  gravatar_for user %>
          </span>
          <strong>
           <%= link_to user.name, user %>
           </strong>
       </div>
    </div>
    <div class="col-sm-4 col-slim">
    </div>
    </div>