<p id="notice"><%= notice %></p>

<div class="panel panel-default">
<div class="panel-heading">
  <i class="fa fa-comments fa-fw"></i>
  Discussion
</div>
<div class="panel-body">
    <%= render 'form', comment: @comment = Comment.new(parent_id: nil) %>
    <hr />
    <ul class="list-group">
    <%= comments_tree_for @comments %>
    </ul>
</div>
</div>