<%= activity_week(group.id) %>
ACTIVITY WEEK
<div class="container-fluid">
<div class="col-sm-2">
<%= @all_activities.size %>
</div>
<div class="col-sm-2">
<%= @followed_activities.size %>
</div>
</div>