<%= image_tag("Gov.Pan.logo.png", size:"100x100")  %>
<h2>govnr</h2>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm your account', confirmation_url(@resource, confirmation_token: @token) %></p>
