<% @expiry_spread = Petition.expiry_spread(@group.id) %>
<div class="panel panel-default panel-toolbar">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Petition Expiry Time
    </div>
    <div class="panel-body panel-toolbar">
        <canvas id="petitionExpiryChart" width="300px" height="300px"></canvas>
		<script>
		window.onload = function(){

		}
		</script>
    </div>
</div>