<% @support_spread = Petition.support_spread(@group.id) %>
<div class="panel panel-default panel-toolbar">
    <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Petition Support
    </div>
    <div class="panel-body panel-toolbar">
        <canvas id="petitionSpreadChart" width="300px" height="300px"></canvas>
		
    </div>
</div>