.conversations-nav > li > a
{
	padding: 3px 10px;
	font-size: 12px;
}

#messages-container
{
	max-height: 300px;
}

.conversation-subject
{
	font-weight: bold;
	margin-left: 6px;
	line-height: 16px;
}