<% breadcrumb :petitionsdata %>
<div class="row">
<div class="col-lg-6">
	<%= render(:partial => "/data/petitions/petitions_count") %>
</div>
<div class="col-lg-6">
	<%= render(:partial => "/data/petitions/petitions_support_spread") %>
</div>
</div>