.banner
{
	margin-left: auto;
    margin-right: auto;
}

.row-spacer
{
	height:10px;
}

.navbar-brand > img
{
	height: 100%;
}

.row-listitem
{
	background-color: #F7F7F7;
}

.listitem-title
{
	font-weight: bold;
	padding-top: 16px;
}

/*.chart-legend {
	height:100%;
	padding: auto;
}

.chart-legend ul {
	list-style-type: none;
}

.chart-legend li span{
	
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}*/

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }