<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
    <div id="quick_stats">
        <%= render partial: 'groups/activity/activity_filters_bar' %>
    </div>
</div>
<div class="panel-body">
   