<div class="row">
      <div class="col-sm-3">
      <div style="width:100%;" align="center">
      <div class="index-logo">
    <%= image_tag("govnr.logo.png", size: "100x100")  %> 
    </div>
      </div>
  
    </div>
    <div class="col-sm-9">
    
     <h1 class="page-header navbar-title">govnr</h1>
       An open-source platform for implementing direct democracy.
    </div>
</div>
<div class="row-spacer"></div>
<hr />
<div class="row-spacer"></div>
<div class="container-block">
<div class="row"> 

      <div class="col-sm-6">
         <p>
         
          <h4>
           Govnr was created for:
          <div class="span-collection">
              <span class="label label-white">Clubs</span>
              <span class="label label-white">Unions</span>
              <span class="label label-white">Communities</span>
              <span class="label label-white">Companies</span>
              <span class="label label-white">Countries</span>
              <span class=""><strong>... and any other group of people that manage themselves.</strong></span>
          </div>
          </h4>
          </p>
      </div>

      <div class="col-sm-6">
        <div class="bg-image-people">
          <img src="<%= image_url('group-of-people.jpg')  %>" class="invisible" />
        </div>
      </div>
</div>

<div class="row-spacer"></div>

<div class="row group-activity-filter-bar">
    <div class="col-md-4 col-sm-12 col-xs-12">
         <p>
          <h4>
          You can use it to govern your group using democractic political action.
          </h4><h4> Every member has an equal share of political power.
          </h4>
          </p>
    </div>

    <div class="col-md-2 col-sm-3  col-xs-3">
        <div class="panel panel-grey">
            <div class="panel-heading">
                <div class="row">    
                     <div align="center" class="container-fluid huge">
                        <div class="col-md-12 activity-filter-icon">
                            <i class="fa fa-bullhorn fa-fw  icon-space"></i>
                        </div> 
                        <div class="col-md-12 activity-filter-count">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div>Petitions propose<br />rule changes</div>

                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3  col-xs-3">
   
        <div class="panel panel-grey">
            <div class="panel-heading">
                <div class="row">    
                     <div align="center" class="container-fluid huge">
                        <div class="col-md-12 activity-filter-icon">
                            <i class="fa fa-balance-scale fa-fw  icon-space"></i>
                        </div> 
                        <div class="col-md-12 activity-filter-count">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div>Motions let you<br />vote on them</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3  col-xs-3">
        <div class="panel panel-grey">
            <div class="panel-heading">
                <div class="row">    
                     <div align="center" class="container-fluid huge">
                        <div class="col-md-12 activity-filter-icon">
                            <i class="fa fa-file-text-o fa-fw  icon-space"></i>
                        </div> 
                        <div class="col-md-12 activity-filter-count">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div>Drafts let you<br/>refine them</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3  col-xs-3">
        <div class="panel panel-grey">
            <div class="panel-heading">
                <div class="row">    
                     <div align="center" class="container-fluid huge">
                        <div class="col-md-12 activity-filter-icon">
                            <i class="fa fa-university fa-fw  icon-space"></i>
                        </div> 
                        <div class="col-md-12 activity-filter-count">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div>Statutes are<br/>accepted rules</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-spacer-xl"></div>
</div>
<div class="row">
<div class="panel panel-default">
<div class="panel-body">
    <div class="col-md-12">
         <p>
          <h4>
          Because it's open-source, you can also contribute to its development, fork it and create a new version of it, or download and install it on your own server.
          </h4>
          </p>
    </div>
</div>
</div>
</div>
